@import '/src/scss/main.scss';

.Root {
  padding: 32px 80px 0 80px;
  .Paper {
    max-width: 1536px;
    margin: 0 auto;

    background-color: $gray-25;

    border-radius: $border-radius-24;

    display: flex;

    overflow: hidden;

    .WeatherInfoSection {
      display: flex;
      flex-grow: 1;
      flex-direction: column;

      gap: 24px;
      padding: 54px;

      min-width: 0;
    }
  }
}
