@import '/src/scss/main.scss';

.Root {
  width: 100%;

  .EmptyState {
    width: 100%;
    & > div {
      width: 200px;
      margin: 24px auto;

      display: flex;
      align-items: center;
      flex-direction: column;

      border: 1px solid $main_blue_light;
      border-radius: $border_radius_24;

      box-shadow: $shadow_light;

      h1 {
        font-size: 56;
        color: $main_blue;
        padding: 0;
      }
    }
  }
}
