@import '/src/scss/main.scss';

.Root {
  width: 100%;

  .EmptyState {
    width: 100%;
    & > div {
      background-color: $white;
      width: 200px;
      margin: 0 auto;

      display: flex;
      align-items: center;
      flex-direction: column;

      border-radius: $border_radius_24;

      h1 {
        font-size: 56;
        color: $main_blue;
        padding: 0;
      }
    }
  }
}
