$main_blue: #18b8fd;
$main_blue_light: #18b8fd11;

$white: #fff;
$linear-gradient: linear-gradient(179.93deg, #0974D1 0.06%, #12F5FB 157.48%);
$linear-gradient-light: linear-gradient(90.1deg, #d7f3ff -3.93%, #ffffff 182.64%);
$linear-gradient-transparent: linear-gradient(90.1deg, #ffffff00 -90%, #ffffff 182.64%);

$gray-25: #fafafa;
$gray-100: #dfdfde;
$gray-300: #828282;
$gray-800: #4f4f4f;
$gray-900: #333333;
